.banner-nb {
    margin: 120px 0;
    margin-top: 0;

    padding: 120px 80px 105px calc(50% - 720px);

    @media (max-width: 1504px) {
        padding: 120px 2rem 105px 2rem;
    }

    @media (max-width: $width-mobile) {
        margin: 50px 0;
        margin-top: 0;
        padding: 50px 20px;
    }
}

.banner-nb--custom-rituals {
    background: var(--color-banner-nb-overlay) !important;

    .banner-nb__wrapper--text {
        position: relative;
        &::after {
            position: absolute;
            bottom: 0;
            left: 2rem;
            transform: translate(-15%, 93.5%);
            width: 89.5%;
            max-width: 542px;
            aspect-ratio: 1 / 1;
            content: "";
            background-image: url("../img/rituals/image-banner-nb-2.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top 0 left 0;
            @media (max-width: 1100px) {
                display: none;
            }
        }
    }
}

.banner-nb__container {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1100px) {
        flex-direction: column-reverse;
        gap: 50px;
    }
    @media (max-width: $width-mobile) {
        gap: 0;
    }
}

.banner-nb__wrapper--text {
    position: relative;
    z-index: 10;
    margin-top: 100px;
    margin-bottom: 75px;

    flex: 1;
    padding: 50px;
    background-color: var(--color-banner-nb-background);
    h3 {
        color: var(--color-banner-nb-text);
    }
    p {
        color: var(--color-banner-nb-text);
    }
    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, -100%);

        width: 100px;
        height: 100px;
        background-color: var(--color-banner-nb-square);

        @media (max-width: $width-mobile) {
            display: none;
        }
    }

    @media (max-width: $width-mobile) {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.banner-nb__squares {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(calc(-100% + 25px), 100%);
    & rect {
        fill: var(--color-banner-nb-square);
    }

    @media (max-width: $width-mobile) {
        display: none;
    }
}

.banner-nb__wrapper--image {
    flex: 2.3;
    margin-left: -175px;
    @media (max-width: $width-mobile) {
        margin-left: -100px;
        margin-bottom: -50px;
    }
}

.banner-nb__text {
    font-size: rem(20);
    line-height: em(32, 20);
    margin-bottom: 20px;

    @media (max-width: $width-mobile) {
        font-size: rem(18);
        line-height: em(28, 18);
    }
}

.banner-nb__small-text {
    font-size: rem(16);
    line-height: em(28, 16);

    transition: all 0.3s ease;

    @media (max-width: $width-mobile) {
        max-height: 0;
        overflow: hidden;
    }
}

.--show .banner-nb__small-text {
    @media (max-width: $width-mobile) {
        max-height: 999px;
        margin-bottom: 20px;
    }
}
