.design-process__header-wrapper {
    margin: 120px 2rem;
    @media (max-width: $width-mobile) {
        margin: 120px 20px;
        margin-bottom: 0;
    }
}

.design-process__wrapper {
    max-width: calc(1440px + 4rem);
    margin: 120px auto 80px auto;
    padding: 0 2rem;
    display: flex;
    gap: 50px;

    & > p {
        flex: 1;
    }

    @media (max-width: $width-mobile) {
        margin: 0 auto 50px auto;
        padding: 0 20px;
        flex-direction: column;
        gap: 20px;
    }
}
