$mobile-width: 767px;

$color-white: #fff;
$color-font: #222e27;

$color-primary: #0b5ed7;
$color-primary-light: #e2eeff;
$color-primary-dark: #014eaa;
$color-counter-2: #0b5ed733;

$color-secondary: #f5f4f4;
