html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--color-font);
    background-color: var(--color-background);
    counter-reset: sec-counter;
}

*,
*::before,
*::after {
    @include box-sizing(border-box);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--color-font);
}
h2 {
    font-size: clamp(rem(28), 2.5vw, rem(48));
    line-height: em(72, 48);
    font-weight: 700;
}
h3 {
    font-size: clamp(rem(22), 1.7vw, rem(32));
    line-height: em(42, 32);
    font-weight: 700;
}
h4 {
    font-size: clamp(rem(18), 1.25vw, rem(24));
    line-height: em(36, 24);
    font-weight: 700;
}
p {
    font-size: rem(16);
    line-height: em(28, 16);
    font-weight: 400;
    color: var(--color-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: black;
    color: var(--color-font);
}

button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 1rem;
}

.container {
    max-width: calc(1440px + 4rem);
    padding: 0 2rem;
    margin: 120px auto;

    @media (max-width: $width-mobile) {
        padding: 0 20px;
        margin: 50px auto;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
