$mq-mobile: "(max-width: 767px)";

$color-font: #222E27;
$color-font-secondary: #656D68;
$color-white: #fff;
$color-primary: #0B5ED7;

$color-background: #fff;

$color-swiper-background: #E2EEFF;
$color-swiper-disabled: #0B5ED7;
$color-swiper-active: #fff;