$mq-mobile: "(max-width: 767px)";

$color-font: #222e27;
$color-font-secondary: #656d68;
$color-white: #fff;
$color-primary: #0b5ed7;

$color-background: #fff;

$color-swiper-background: #e2eeff;
$color-swiper-disabled: #0b5ed7;
$color-swiper-active: #fff;

//

$width-mobile: 767px;
