.extra-solutions {
    position: relative;
    margin: 120px 0;

    @media (max-width: $mobile-width) {
        margin: 120px 0 50px 0;
    }
}

.extra-solutions__header-wrapper {
    margin: 120px 2rem;
    margin-bottom: 60px;
    @media (max-width: $mobile-width) {
        margin: 120px 20px;
        margin-bottom: 0;
    }
}

.extra-solutions__wrapper {
    max-width: calc(1440px + 4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile-width) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.extra-solutions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-width) {
        margin-bottom: 20px;
    }
}

.extra-solutions__list li {
    display: inline-block;
    padding: em(10, 16);

    font-size: rem(16);
    line-height: em(28, 16);
    font-weight: 400;

    border: 1px solid $color-primary;

    &::before {
        content: "#";
    }

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.--show .extra-solutions__list li {
    @media (max-width: $mobile-width) {
        display: inline-block;
    }
}

.extra-solutions__list li.extra-solutions__item--visible {
    display: inline-block;
}

.extra-solutions__list li.extra-solutions__item--button {
    padding: 0;

    display: none;

    @media (max-width: $mobile-width) {
        display: flex;
    }

    &::before {
        display: none;
    }

    & button {
        width: 100%;
        height: 100%;

        padding: 10px;
        background-color: $color-primary;
        font-family: inherit;
        color: $color-white;

        display: flex;

        gap: 15px;
        align-items: center;
        transition: all 0.3s ease;

        &::after {
            display: block;
            content: "";
            width: 8px;
            height: 8px;
            border-bottom: 2px solid $color-white;
            border-right: 2px solid $color-white;
            transform: rotate(45deg) translate(-50%, 25%);
            transition: all 0.3s ease;
        }
        &:hover {
            &:after {
                transform: rotate(225deg) translate(0, -25%);
            }
        }
    }
}

.extra-solutions__buttons-wrapper {
    display: flex;
    justify-content: center;
}

.extra-solutions__button {
    position: relative;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: rem(16);
    line-height: em(28, 16);
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }

    &::before {
        content: "";

        width: 42px;
        height: 42px;
        background-color: $color-font;
    }
    &::after {
        content: url("../img/svg/btn-arrow.svg");
        line-height: 0;

        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
