.scraping {
    max-width: calc(1440px + 4rem);
    padding-inline: 2rem;
    margin: 120px auto;

    display: flex;
    align-items: center;

    @media (max-width: $mobile-width) {
        flex-direction: column-reverse;
        margin: 50px auto;
        padding: 0;
    }
}

.scraping__wrapper--image {
    flex: 1.8;
}

.scraping__wrapper--text {
    flex: 1;

    padding: 50px;
    margin-left: -130px;
    background-color: $color-secondary;

    @media (max-width: $mobile-width) {
        padding: 20px;
        margin: 0;
        margin-inline: 20px;
        margin-bottom: -40px;
    }
}
